// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';


$dark-blue: #102f7d;


.btn-primary {
    background-color: $dark-blue;
}

.form-group {
    margin-bottom: 1rem;
}
