@media (min-width: 1417px) {
.your-class{
    width: 100%;
    white-space: nowrap;
    overflow-x: auto;
}
}
@media (max-width: 1416px) {
.your-class{
    display: none;
}}


@media (max-width: 1417px) {
    .my-class{
        text-align: center;
} }

@media (min-width: 1417px) {
    .my-class{
        display: none
    }
}
.my_button{
    width:300px;
    font-family : inherit;
    font-size: 1em;
}

.right_align {
    position: relative;
    display: inline-block;
    /*text-align: right;*/
}

.form-control-file{-webkit-appearance:none;-moz-appearance:none;appearance:none;background-clip:padding-box;background-color:#f8fafc;border:1px solid #ced4da;border-radius:.375rem;color:#212529;display:block;font-size:.9rem;font-weight:400;line-height:1.6;padding:.375rem .75rem;transition:border-color .15s ease-in-out,box-shadow .15s ease-in-out;width:100%}@media (prefers-reduced-motion:reduce){.form-control-file{transition:none}}.form-control-file[type=file]{overflow:hidden}.form-control-file[type=file]:not(:disabled):not([readonly]){cursor:pointer}.form-control:focus{background-color:#f8fafc;border-color:#86b7fe;box-shadow:0 0 0 .25rem rgba(13,110,253,.25);color:#212529;outline:0}.form-control-file::-webkit-date-and-time-value{height:1.6em}.form-control-file::-moz-placeholder{color:#6c757d;opacity:1}.form-control-file::placeholder{color:#6c757d;opacity:1}.form-control:disabled{background-color:#e9ecef;opacity:1}.form-control-file::file-selector-button{-webkit-margin-end:.75rem;background-color:#e9ecef;border:0 solid;border-color:inherit;border-inline-end-width:1px;border-radius:0;color:#212529;margin:-.375rem -.75rem;margin-inline-end:.75rem;padding:.375rem .75rem;pointer-events:none;transition:color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out}@media (prefers-reduced-motion:reduce){.form-control-file::file-selector-button{transition:none}}.form-control-file:hover:not(:disabled):not([readonly])::file-selector-button{background-color:#dde0e3}.form-control-file-plaintext{background-color:transparent;border:solid transparent;border-width:1px 0;color:#212529;display:block;line-height:1.6;margin-bottom:0;padding:.375rem 0;width:100%}.form-control-file-plaintext:focus{outline:0}.form-control-file-plaintext.form-control-file-lg,.form-control-file-plaintext.form-control-file-sm{padding-left:0;padding-right:0}.form-control-file-sm{border-radius:.25rem;font-size:.7875rem;min-height:calc(1.6em + .5rem + 2px);padding:.25rem .5rem}.form-control-file-sm::file-selector-button{-webkit-margin-end:.5rem;margin:-.25rem -.5rem;margin-inline-end:.5rem;padding:.25rem .5rem}.form-control-file-lg{border-radius:.5rem;font-size:1.125rem;min-height:calc(1.6em + 1rem + 2px);padding:.5rem 1rem}.form-control-file-lg::file-selector-button{-webkit-margin-end:1rem;margin:-.5rem -1rem;margin-inline-end:1rem;padding:.5rem 1rem}textarea.form-control-file{min-height:calc(1.6em + .75rem + 2px)}textarea.form-control-file-sm{min-height:calc(1.6em + .5rem + 2px)}textarea.form-control-lg{min-height:calc(1.6em + 1rem + 2px)}.form-control-file-color{height:calc(1.6em + .75rem + 2px);padding:.375rem;width:3rem}.form-control-color:not(:disabled):not([readonly]){cursor:pointer}.form-control-file-color::-moz-color-swatch{border:0!important;border-radius:.375rem}.form-control-color::-webkit-color-swatch{border-radius:.375rem}.form-control-file-color.form-control-file-sm{height:calc(1.6em + .5rem + 2px)}.form-control-file-color.form-control-file-lg{height:calc(1.6em + 1rem + 2px)}

